<div class="box">	
	<%= form_for @question do |f| %>
	<h3>Please, dont hesitate to ask!</h3>
	<h4>Remember, nobody knows who you are! This site is anonymous!</h4>
	<br>
	<div class="field">
		<%= f.label :subject %>
		<%= f.text_field :title, placeholder: 'Foot stings, leg itch, toe' %>
	</div>
	<br>
	<div class="field">
		<%= f.label :message %><br>
		<%= f.text_field :body, placeholder: 'Be descriptive please!' %>
	</div>
	<br>
	<br>
	<%= f.submit "Ask !", class:"btn btn-md btn-primary"%>
	<% end %>
</div>