<div class="box">
	<h1>Title: <%= @question.title %></h1>
	<h3>Message: <br><%= @question.body %></h3>

	<h1>Replies Below </h1>

	<% @question.answers.each do |answer| %>

	<p style='color:blue'>Nickname- <%= answer.from %></p>
	<p>
	<%= answer.message %></p>
	<% if answer.doc && answer.doc.verified %>
	<span><img style="height:17px;width:auto;border-radius: 2px;" src="/assets/star.png"> Verified Doctor.</span>
	<% else %>
	<span style="color:red">This answer is from an UNVERIFIED source.</span>
	<% end %>
	<p style="color: green">Answered <%= time_ago_in_words answer.created_at %> ago.</p>
	=======================
	<% end %>
	<br><br>

<div class="box answer">
	<%= form_for @question.answers.new do |f| %>
	<div class="field">
		<%= f.label :answer %><br>
		<%= f.text_field :message %>
		<%= f.hidden_field :question_id %>
	</div>
	<div class="field">
		<%= f.label :from %><br>
		<%= f.text_field :from %>
	</div><br>
	<%= f.submit :Submit, class: "btn btn-md btn-primary" %>
		<% if current_doc %>
		<h4>You are a Verified Doctor <br><br><span><img style="height:40px;width:auto;border-radius: 5px;"src="/assets/star.png"</span></h4> Your posts will contain the above symbol.
		<% else %>
		<h4>You are not Verified yet.</h4>
		<h5><%= link_to "Sign up as a doc!", new_doc_path %></h5>
		<% end %>
	<% end %>
	<br><br><br>
</div>