<div class="box">
	<h1>Title: <%= @question.title %></h1>
	<h3>Message: <br><%= @question.body %></h3>

	<h1>Answers Below </h1>

	<% @question.answers.each do |answer| %>
	<p><%= answer.message %></p>
	<p style="color: green">Answered <%= time_ago_in_words answer.created_at %> ago.</p>
	=======================
	<% end %>
	<br><br>

<div class="box answer">
	<%= form_for @question.answers.new do |f| %>
	<%= f.label :answer %>
	<%= f.text_field :message %>
	<%= f.hidden_field :question_id %>
	<%= f.submit :Submit, class: "btn btn-md btn-primary" %>
	<% end %>
	<br><br><br>
</div>