<div class="box">
	<h1>Title: <%= @question.title %></h1>
	<h3>Message: <br><%= @question.body %></h3>

	<% @question.answers.each do |answer| %>
	<p><%= answer.message %></p>
	<%= @created %>
	<% end %>
	<br>
	<br>
	<%= form_for @question.answers.new do |f| %>
	<%= f.label :answer %>
	<%= f.text_field :message %>
	<%= f.hidden_field :question_id %>
	<%= f.submit :Submit, class: "btn btn-md btn-primary" %>
	<% end %>
</div>