<div class="box">
	<h1>Sign In</h1>
	<%= form_for @doctor do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :age %>
	<%= f.text_field :age %>
	<%= f.label :licence %>
	<%= f.text_field :licence %>
	<%= f.submit %>
	<% end %>
</div>