<div id="new_patient" class="col-sm-12">
	<h3>Hello new Patient</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, assumenda, repellendus officia quis voluptates delectus fuga dicta dignissimos nemo atque incidunt id earum ut quidem iusto adipisci omnis ipsa beatae.</p>

	<%= form_for @user do |f| %>
		<div class="row">
				<%= f.text_field :name, placeholder:'Nickname' %>
				<br>
				<%= f.text_field :age, placeholder:'Age' %>
				<br>
				<%= f.text_field :location, placeholder:'Location' %>
				<br>
				<br>
				<%= f.submit class:"btn btn-sm btn-primary" %>
		</div>
	<% end %>