 <div class="box"> 
  <h1>Doc Sign Up</h1>

  <%= form_for @doc do |f| %>
    <% if @doc.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @doc.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :licence, "Licence Number" %><br />
      <%= f.text_field :licence %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "password conf" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <br>
    <div class="actions"><%= f.submit "Register", class: "btn btn-md btn-primary" %></div>
  <% end %>
</div>