 <div class="box"> 
  <h1>Doc Sign Up</h1>
  So you're a doc huh...<br>
  In order to stay secure, we must be very strict about our Doctor sign up.  So we do not leave room for error.  You must provide a current, valid Medical Licence to proceed with registration. Thank you for understanding.
  <br><br>
  If your data is INCORRECT your data will be truncated upon submission.
  <br><br>
  <%= form_for @doc do |f| %>
    <% if @doc.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @doc.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, placeholder: 'John Doe...' %>
    </div>
    <div class="field">
      <%= f.label :licence, "Licence Number" %><br />
      <%= f.text_field :licence, placeholder: 'MUST BE VALID!' %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, placeholder: 'make it tough...' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation" %><br />
      <%= f.password_field :password_confirmation, placeholder: 'make it match...' %>
    </div>
    <br>
    <input type="checkbox" value="accept">i make u wrk l8tr, just check me..<br>
    <div class="actions"><%= f.submit "Register", class: "btn btn-md btn-primary" %></div>
  <% end %>
</div>