<!DOCTYPE html>
<html>
<head>
  <title>WaitingRoom</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top_bar">
	<h3 class="pull-left"><a style="text-decoration:none"href="/">The Waiting Room</h3></a>
</div><br>
<div class="pull-right menu">
	<h4>Doctors Area</h4>
	<% if current_doc %>
			Welcome Dr. <%= current_doc.name %>!<br>
	<%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>
</div>

<%= yield %>

<footer>
	&copy; Ethan G Stiffelman Development <a href="http://www.egsd.co">EGSD</a>
</footer>
</body>
</html>
